@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=WindSong:wght@400;500&display=swap');



*{
    margin: 0;
    padding: 0;
    font-family: "Inter", "sans-serif";
}
a{
    text-decoration: none;
    color: black;
}
li{
    list-style-type: none;
}
.flex {
display: flex;
flex-wrap: wrap;
}

.ligne{
    display: inline-block;
  }

.spaceBetween{
    justify-content: space-between;
}

.alignCenter{
    align-items: center;
}

.bold {
    font-weight: 600;
}

.bgYellow{
    background-color: #F3CB27;
}

.container{
    /* background-color: #c52626; */
    max-width: 1000px;
    width: 100%;
    margin: auto;
}
.btn{
    background-color: #F66909;
    border-radius: 4px;
    padding: 10px;
    color: white;
    margin-top: 15px;
    display: inline-block;
}
h3{
    width: 100%;
    color: #593E26;
    margin-bottom: 10px;
}
.Engagement{
    height: 50vh;
}
.width30{
    width: 30%;
 }

 .width100{
    width: 100%;
 }

 .marginauto{
    margin: auto;
 }
/* HEADER*/
header{
    /*background-color: aquamarine;*/
    padding: 15px 15px;
}
.navHeader{
    /*background-color: chartreuse;*/
    width: 50%;
}
.panier{
    color: #F3CB27;
    font-size: 25px;
}
/*HERO*/
.hero{
    height: 100vh;
}
.hero h2 {
    font-family: "WindSong", cursive;
    font-size: 130px;
    font-weight: 500;
}
h1{
    font-size: 32px;
}


/*Section Engagement*/



 .pinline{
    width: 45%;
 }
 
 /* Section Bienfait du miel */




 /* Section Produits*/

 .produits{
    height: 643px;
 }

 .widthcartes{
    width: 267px;
 }
 .panierbutton{
    font-size: 18px;
    color: white;
 }
 
 .padingcarte{
 padding: 10px 9px 20px 9px;
 }

 .radiusCarte{
    border-radius: 4px;
 }

 /*Section 5*/