@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=WindSong:wght@400;500&display=swap');



*{
    margin: 0;
    padding: 0;
    font-family: "Inter", "sans-serif";
}
a{
    text-decoration: none;
    color: black;
}
li{
    list-style-type: none;
}
.paddingSection{
    padding: 40px 0px;
}

.flex {
display: flex;
flex-wrap: wrap;
}

.ligne{
    display: inline-block;
  }

.spaceBetween{
    justify-content: space-between;
}
.spaceEvenly{
    justify-content: space-evenly;
}

.alignCenter{
    align-items: center;
}

.marginauto{
    margin: auto;
 }

.bold {
    font-weight: 600;
}

.bgYellow{
    background-color: #F3CB27;
}

.container{
    /* background-color: #c52626; */
    max-width: 1000px;
    width: 100%;
    margin: auto;
}
.btn{
    background-color: #F66909;
    border-radius: 4px;
    padding: 10px;
    color: white;
    margin-top: 15px;
    display: inline-block;
}
h3{
    width: 100%;
    color: #593E26;
    margin-bottom: 10px;
    font-size: 32px;
    font-weight: 600;
}
h4{
    font-size: 16px;
    font-weight: 700;
}
p{
    font-size: 16px;
    font-weight: 500;
}
.Engagement{
    height: 50vh;
}
.width30{
    width: 30%;
 }

 .width100{
    width: 100%;
 }

 .width50{
    width: 50%;
 }

 .paddingB40{
    padding-bottom:  40px;
 }
 
 
    /* HEADER*/
    header{
        /*background-color: aquamarine;*/
        padding: 15px 15px;
    }
    .navHeader{
        /*background-color: chartreuse;*/
        width: 50%;
    }
.panier{
    color: #F3CB27;
    font-size: 25px;
}
/*HERO*/
.hero{
    height: 100vh;
}
.hero h2 {
    font-family: "WindSong", cursive;
    font-size: 130px;
    font-weight: 500;
}
h1{
    font-size: 32px;
}


/*Section Engagement*/



 .pinline{
    width: 45%;
 }
 
 /* Section Bienfait du miel */




 /* Section Produits*/

 
 .widthcartes{
    width: 267px;
 }
 .panierbutton{
    font-size: 18px;
    color: white;
 }
 
 .padingcarte{
 padding: 10px 9px 20px 9px;
 }

 .radiusCarte{
    border-radius: 4px;
 }

 /*Nos clients*/

.width279{
    width: 279px;
 }
.paddingT20{
    padding-top: 20px;
}
.policenom{
    font-size: 20px;
    font-weight: 800;
}

.policereview{
    font-size: 15px;
    font-style: italic;
    font-weight: 400;
}

/* Section Nous trouver*/
.policent{
    font-size: 24px;
    font-weight: 600;
}
.paddingent{
 padding: 20px 0px 13px 0px;   
}
.policeadress{
    font-size: 16px;
    font-weight: 500;
}
